.comic-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.comic-card {
  display: flex;
  position: relative;
  box-shadow: 10px 10px 10px gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  > div {
    padding: 30px;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
    }
    h2 {
      color: #ed1d24;
      font-size: 24px;
      font-weight: bold;
      height: 27px;
      overflow-y: hidden;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      height: 95px;
      overflow-y: hidden;
    }
  }
}
