.home {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ed1d24;
  }
  img {
    width: 100%;
    transition: ease-in-out 1s;
  }
  img:hover {
    transform: scale(1.1);
  }
}
